<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <h2>Welcome, {{ user.username }}</h2>
    <title>Welcome, {{ user.username }}</title>
  </head>
  <body>
    <h3>Your Cred : {{ user.creds }}</h3>
    <h4>Make Some right now!</h4>
    <form  action="" method="post">
      {% csrf_token %}
        {% for x in r%}
          <input type="radio" name="rail" value="">{{ x.name }}<br>
        {% endfor %}
        <input type="submit" name="" value="tick">
    </form>
  </body>
</html>
